body
{
  background-color: green;
}
.Titolo
{
  position: relative;
  top:-20px;
  text-align: center;
  /*visibility: hidden;*/
}
.quadrato
{
  position: absolute;
  border: 5px;
  border-color: black;
  border-style: solid;
  background-color: white;
  height: 150px;
  width: 150px;

  font-size: 150px;
  text-align: center;
  /*visibility: hidden;*/
}
.q1
{
  top: 50px;
  left: 365px;
}
.q2
{
  top: 50px;
  left: 520px;
}
.q3
{
  top: 50px;
  left: 675px;
}
.q4
{
  top: 205px;
  left: 365px;
}
.q5
{
  top: 205px;
  left: 520px;
}
.q6
{
  top: 205px;
  left: 675px;
}
.q7
{
  top: 360px;
  left: 365px;
}
.q8
{
  top: 360px;
  left: 520px;
}
.q9
{
  top: 360px;
  left: 675px;
}
